__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.DS_Store
.venv/
.env
node_modules/
.next/
coverage.xml
htmlcov/
postgres_data/
celerybeat-schedule
*.egg-info/
tests/test.db
*.sqlite3
*.sqlite
api/service-account.json
data/fake_drive/github/
